---
layout: default
title: Posts
---

<ul class="posts">
  {% for post in site.posts %}
    <li>
      <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
      {{ post.excerpt }}
      <p class="readmore"><a href="{{ post.url | relative_url }}">Read more...</a>
      <footer>{{ post.date | date: "%a, %b %d, %y" }} | Tags:
        {% for tag in post.tags %}
          <a href="{{ 'tags' | relative_url }}#{{ tag | slugify }}">{{ tag | replace:'-', ' ' }}</a>
        {% endfor %}
      </footer>
    </li>
  {% endfor %}
</ul>
