<!-- Include for captioned images -->
<div class="float {{ include.float }}">
  <figure class="embed picture">
    <a href="#{{ include.url | slugify }}">
      <img src="{{ '/assets/images/' | relative_url }}{{ include.url }}" alt="{{ include.caption }}" style="width: {{ include.width }}"/>
    </a>
    <figcaption>{{ include.caption }}</figcaption>
  </figure>
  <a href="#/" class="expand" id="{{ include.url | slugify }}">
    <img src="{{ '/assets/images/' | relative_url }}{{ include.url }}" alt="{{ include.caption }}" style="background-image: url('{{ '/assets/images/' | relative_url }}transparent.gif')"/>
  </a>
</div>
