/* CODE TAGS */

/*
Based on Muse Scheme
from Terminal.sexy
*/

.content .highlight pre code, .content .highlighter-rouge {
    font-family: "Consolas", "Lucida Console", "Monaco", "Andale Mono", "Courier New", courier, monospace;
    color: #ffffff;
    font-size: 14px;
    padding: 1px 2px;
}


.content .highlight, .content .highlighter-rouge {
  background-color: #000000;
}

.content .highlight {
  max-width:100%;
  margin: 10px;
  padding: 10px;
  overflow-x: scroll;
}

.highlight pre {
  line-height: 18px;
}

.highlight table.rouge-table tbody tr td pre.lineno {
  margin-left: 0;
  padding-right: 10px;
  border-right: 1px dotted #FFF;
}

/* slash comments */
.content .highlight .c1, .content .highlight .cm {
  color: #969896;
}

/* data type */
.content .highlight .kt, .content .highlight .kd {
  font-weight: bolder;
  color: #b294bb;
}

/* boolean */
.content .highlight .nb, .content .highlight .kc {
  color: #81a2be;
}

/* numeric values & strings */
.content .highlight .mf, .content .highlight .mi, .content .highlight .s  {
  color: #f0c674;
}

/* escape characters */
.content .highlight .se {
  color: #cc6666;
}

/* data keyword */
.content .highlight .k {
font-weight: bolder;
  color: #8abeb7;
}

/* Wrapped in quotes */
.content .highlight .d1, .content .highlight .s2 {
  font-weight: bolder;
  color: #b5bd68;
}

/*! special
*.foreground:   #ffffff
*.background:   #000000
*.cursorColor:  #ffffff

! black
*.color0:       #2e3436
*.color8:       #555753

! red
*.color1:       #a31604
*.color9:       #c60001

! green
*.color2:       #447241
*.color10:      #27a343

! yellow
*.color3:       #c1951a
*.color11:      #d5a30e

! blue
*.color4:       #425387
*.color12:      #4a5a8d

! magenta
*.color5:       #965d98
*.color13:      #893c8c

! cyan
*.color6:       #06989a
*.color14:      #12bccb

! white
*.color7:       #d3d7cf
*.color15:      #eeeeec
*/
