:root {
  --wrap_maxWidth: 800px;
  --body_stack: "Trebuchet MS", Verdana, Arial, sans-serif;
  --body_size: 14px;
  --h1_stack: "Monaco", "Andale Mono", "Consolas", "Lucida Console", "Courier New", Courier, monospace;
}
