:root {
  --body_stack: "Trebuchet MS", Verdana, Arial, sans-serif;
  --h1_stack: "Monaco", "Andale Mono", "Consolas", "Lucida Console", "Courier New", Courier, monospace;

  --color0: #FFF;
  --color1: #DDD;
  --color2: #888;
  --color3: #444;
  --color4: #000;

  --margins: 40px;
  --half_margins: 20px;
}

body {
  background-color: var(--color0);
  margin: 0;
  font-family: var(--body_stack);
}

main {
  top: 0;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

main > div {
  display: table-cell;
  vertical-align: middle;
}

ul, ul li {
  padding: 0;
  margin: 0;
}

div.centered {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 120px;
  grid-gap: 20px;
  max-width: 720px;
  margin: 0 auto;
  padding: var(--half_margins);
}

h1 {
  margin: 0 5px var(--half_margins);
  font-family: var(--h1_stack);
  font-size: 48px;
  line-height: 60px;

  grid-column: 1;
  grid-row: 1;
  grid-column-end: span 2;
}

a.logo {
  display: inline-block;
}

ul.nav {
  grid-column: 1;
  grid-row: 3;
  grid-column-end: span 2;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

ul.nav > li {
  display: block;
}

ul.nav a {
  display: block;
  position: relative;
  text-align: center;
  max-width: 100%;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  color: var(--color4);
  background-color: var(--color0);
  border: 1px var(--color4) solid;
  box-shadow: 5px 5px var(--color2);
}

ul.nav a:hover {
  top: 3px;
  left: 3px;
  box-shadow: 2px 2px var(--color2);
}

ul.footer {
  grid-column: 1;
  grid-row: 4;
  grid-column-end: span 2;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  list-style-type: none;
  margin-top: var(--margins);
  padding: 0;
}

ul.footer > li {
  display: block;
}

ul.footer a {
  color: var(--color4);
  text-decoration: none;
}

ul.footer a:hover {
  color: var(--color0);
  background-color: var(--color3);
}

@media (min-width: 768px) {
  ul.footer > li {
    display: inline;
  }
  ul.footer > li::after {
    content: " | ";
  }
  ul.footer > li:last-child::after {
    content: none;
  }
  ul.nav {
    grid-column-end: span 1;
  }
  a.logo {
    grid-column: 2;
    grid-row: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  h1 {
    grid-column: 1;
    grid-row: 1;
    grid-column-end: span 1;
  }
}
