@import url("global.css");

body {
  background-color: #FFF;
}

.content {
  margin: 20vh auto;
  text-align: center;
  width: 480px;
}

h1 {
    font-family: var(--h1_stack);
    font-size: 48px;
    line-height: 36px;
    margin: 10px 0 30px;
}

a {
  position: relative;
  padding: 5px;
  margin: 5px;
  color: #000;
  text-decoration: none;
  border: 1px #000 solid;
  box-shadow: 5px 5px #888888;
}

a:hover {
  top: 5px;
  left: 5px;
  color: #FFF;
  background-color: #808080;
  box-shadow: 0 0 #888888;
}

ul {
  list-style: none;
  font-family: var(--body_stack);
  font-size: 16px;
  margin: 10px;
  padding: 0;
}

ul li {
  display: inline;
  margin: 0;
}
