---
# Landing Page CSS
---

$break: 800px;
$width: 720px;

$body_stack: "Trebuchet MS", Verdana, Arial, sans-serif;
$h1_stack: "Monaco", "Andale Mono", "Consolas", "Lucida Console", "Courier New", Courier, monospace;

$color0: #FFF;
$color1: #DDD;
$color2: #888;
$color3: #444;
$color4: #000;

$margins: 40px;
$half_margins: 20px;

body {
  margin: 0;
  font-family: $body_stack;
  background-color: $color0;
  & > div {
    top: 0;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    & > div {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

main {
  align-items: flex-start;
  max-width: $width;
  margin: 0 auto;
  padding: $half_margins;
  img {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  @media (min-width: $break) {
    a {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

h1 {
  margin: 0 5px $half_margins;
  font-family: $h1_stack;
  font-size: 40px;
  line-height: 48px;
  @media (min-width: $break) {
    grid-column: 1;
    grid-row: 1;
    grid-column-end: span 1;
  }
  & a {
    color: $color3;
    &:hover {
      color: $color1;
      background-color: $color3;
    }
  }
}

ul {
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-size: 12px;
  line-height: 18px;
  list-style-type: none;
  & > li {
    display: block;
    padding: 0;
    margin: 0;
    @media (min-width: $break) {
      display: inline;
      &:after {
        content: " | ";
      }
      &:last-child::after {
        content: none;
      }
    }
    & > a {
      color: $color4;
      text-decoration: none;
      grid-column: 2;
      grid-row: 1;
      &:hover {
        color: $color0;
        background-color: $color3;
      }
    }
  }
}
