:root {
  --wrap_maxWidth: 900px;
  --body_stack: "Trebuchet MS", Verdana, Arial, sans-serif;
  --h1_stack: "Monaco", "Andale Mono", "Consolas", "Lucida Console", "Courier New", Courier, monospace;

  --color0: #FFF;
  --color1: #DDD;
  --color2: #888;
  --color3: #444;
  --color4: #000;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--color1);
  margin: 0;
}

div.content {
  background-color: #FFF;
  margin-top: 15vh;
  text-align: center;
  padding: 50px;
  box-shadow: 0px 10px var(--color2);
  border-top: 1px var(--color4) solid;
  border-bottom: 1px var(--color4) solid;
}

div.content h1 {
  font-family: var(--h1_stack);
  font-size: 32px;
  line-height: 24px;
  margin: 10px 0 30px;
}

div.content a {
  position: relative;
  text-decoration: none;
  color: var(--color4);
  background-color: #FFF;
  box-shadow: 5px 5px var(--color2);
  border: 1px #000 solid;
  padding: 5px;
  margin: 5px;
}

div.content a:hover {
  top: 3px;
  left: 3px;
  color: #FFF;
  box-shadow: 2px 2px var(--color2);
  background-color: var(--color3);
}

div.content ul {
  list-style: none;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

div.content ul li {
  display: inline;
  margin: 0;
}

div.footer {
  font-family: var(--body_stack);
  max-width: var(--wrap_maxWidth);
  text-align: center;
  margin: 15px auto;
  font-size: 12px;
}

div.footer a {
  color: var(--color4);
}

div.footer a:hover {
  color: var(--color0);
  background-color: var(--color3);
}
