:root {
  --content_maxWidth: 800px;
  --side_maxWidth: 150px;

  --content_navOpen: 0 0 0 calc(30px + var(--side_maxWidth));
  --content_navClose: 0 0 0 100px;
  --side_navOpen: 90px 0 0 0;
  --side_navClose: 90px 0 0 calc(-2 * var(--side_maxWidth));
}

.no_transition * {
  transition: none !important;
  animation: none !important;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  overflow-x: hidden;
}

div.wrap {
  margin: 40px 0;
}

h1 {
  display: block;
  font-family: 'DotGothic16', sans-serif;
  text-align: left;
  font-size: 24px;
  letter-spacing: 12px;
  text-transform: lowercase;
}

h2 {
  display: block;
  font-family: 'DotGothic16', sans-serif;
  text-align: left;
  font-size: 16px;
  letter-spacing: 8px;
  text-transform: lowercase;
}

#content {
  margin: var(--content_navClose);
  font-size: 10pt;
  width: auto;
  min-width: 280px;
  max-width: var(--content_maxWidth);
  padding-left: 10px;
  transition: all 1s;
}

#content img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  border: #A0A0A0 5px solid;
}

/* NAVIGATION CSS */
#menuButton {
  width: 60px;
  height: 60px;
  font-size: 60px;
  transition: all 1s;
  position: fixed;
  margin: 0 15px;
  text-align:center;
}

#menuButton:hover{
  cursor: crosshair;
}

#nav {
  width: var(--side_maxWidth);
  margin: var(--side_navClose);
  opacity: 1;
  position: fixed;
  overflow-x: hidden;
  transition: all 1s;
}

#copied {
  font-size: 12px;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}

a {
  cursor: crosshair;
}

nav a {
  font-size: 32px;
  color: #000;
  margin-left: 15px;
  display: block;
  font-family: 'DotGothic16', sans-serif;
  text-decoration: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a:before {
  content: "/";
}

/* POST CSS */

#content ul.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#content ul.tags {
  list-style-type: none;
  padding: 0;
  margin-left: 5px;
}

#content ul.posts li {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px #000 dashed;
}

#content p {
  margin: 0 0 20px 10px;
  line-height: 16pt;
}

#content h1 {
  display: block;
  margin-bottom: 20px;
}

#content h1.pageTitle {
  font-size: 48px;
}

#content h2 {
  display: block;
}

#content h2 {
  display: block;
  margin: 0 0 15px 0;
}

#content h2 a {
  display: block;
  text-decoration: none;
  color: #000;
}

#content .footer {
  display: block;
  font-size: 8pt;
}

#content .post_nav {
  font-size: 8pt;
  margin-top: 10px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

#content .post_nav .next {
  display: block;
  text-align: right;
}

#content .post_nav .up {
  display: block;
  text-align: center;
}

#content .readmore {
  margin-top: -10px;
}
