/*~~~~~~~~~*/
/* Imports */
/*~~~~~~~~~*/

@media (min-width: 800px) {
  :root {
      --maxWidth: 720px;
  }
}

@media (min-width: 1024px) {
  :root {
      --maxWidth: 960px;
  }
}

@media (min-width: 1280px) {
  :root {
      --maxWidth: 1200px;
  }
}

:root {
  --body_stack: "Trebuchet MS", Verdana, Arial, sans-serif;
  --h1_stack: "Monaco", "Andale Mono", "Consolas", "Lucida Console", "Courier New", Courier, monospace;

  --color0: #FFF;
  --color1: #DDD;
  --color2: #888;
  --color3: #444;
  --color4: #000;

  --paragraph_spacing: 10px;
  --margins: 40px;
}

/*~~~~~~~~~~~~~~~*/
/* Structure CSS */
/*~~~~~~~~~~~~~~~*/

body {
  font-family: var(--body_stack);
  background-color: var(--color1);
  background-attachment: fixed;
  overflow-wrap: break-word;
  overflow-y: scroll;
  margin: 0;
}

div.wrap > header {
  width: var(--maxWidth);
}

div.wrap > main {
  padding: 30px 0 15px;
  background-color: var(--color0);
  line-height: 24px;
  box-shadow: 0px 10px var(--color2);
  border-top: 1px var(--color4) solid;
  border-bottom: 1px var(--color4) solid;
}

div.wrap > footer {
  margin-bottom: 25px;
  padding: 25px 0 0;
  text-align: center;
  font-size: 12px;
}

div.wrap > footer a {
  color: var(--color4);
  text-decoration: none;
}

div.wrap > footer a:hover {
  color: var(--color0);
}

small.gototop {
  display: block;
  padding: 0 0 10px;
  border-bottom: 2px var(--color4) dotted;
  margin-bottom: var(--paragraph_spacing);
}

small.gototop a {
  text-decoration: none;
}

/* Screen > 1080px CSS */
@media (min-width: 800px) {
  div.wrap {
    padding: 25px;
    margin: 0 auto;
    max-width: var(--maxWidth);
  }

  div.wrap > main {
    padding: 35px 0 50px;
    font-size: var(--body_sizePC);
    box-shadow: 10px 10px var(--color2);
    border: 1px var(--color4) solid;
  }
}

main > * {
  margin: 0 var(--margins);
}

/*~~~~~~~~~~~~~~~~~*/
/* General Styling */
/*~~~~~~~~~~~~~~~~~*/

a {
  cursor: pointer;
  color: var(--color3);
}

a:hover {
  text-decoration: none;
  background-color: var(--color3);
  color: var(--color0);
}

h1 {
  font-family: var(--h1_stack);
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 1.5px;
}

h2 {
  font-family: var(--h2_stack);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1.5px;
}

hr {
  margin-bottom: var(--paragraph_spacing);
  border: 0;
  border-top: 2px var(--color4) dotted;
}

ul {
  list-style-type: square;
}

/*~~~~~~~~~~~~~~~~*/
/* Navigation CSS */
/*~~~~~~~~~~~~~~~~*/

img.logo {
  vertical-align: middle;
  color: transparent;
}

a.logo, a.logo:hover {
  display: inline-block;
  width: auto;
  border: 0;
  background: var(--color1);
  color: transparent;
}

div.wrap > nav {
  margin-left: 20px;
}

nav > a {
  position: relative;
  padding: 5px;
  margin: 0 2px;
  text-decoration: none;
  font-size: 14px;
  color: var(--color4);
  border: 1px var(--color4) solid;
  box-shadow: 5px 5px var(--color2);
  background-color: var(--color0);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

nav a:hover, nav a:active{
  left: 3px;
  top: 3px;
  box-shadow: 2px 2px var(--color2);
}

/*~~~~~~~~~~*/
/* Post CSS */
/*~~~~~~~~~~*/

main p, main h1, main h2, main header, main footer {
  margin-bottom: var(--paragraph_spacing);
}

main header, main footer {
  font-size: 14px;
  color: var(--color3);
}

main header > *, main footer > * {
  margin: 0;
}

main header > small {
  display: block;
}

main header > h1 {
  color: var(--color4);
  line-height: 32px;
}

main footer {
  padding-top: var(--paragraph_spacing);
}

main h1 a, main h1 a:hover {
  color: var(--color4);
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

main h1 a:hover {
  color: var(--color2);
}

/* Prev/Next Post */

main > nav {
  margin-top: 30px;
  padding-top: var(--paragraph_spacing);
  border-top: 2px var(--color4) dotted;
}

@media (min-width: 1024px) {
  main > nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

main > nav > a {
  text-align: center;
  display: block;
  margin: 10px;
  background-color: var(--color0);
  border: 1px var(--color4) solid;
}

main > nav > a:hover {
  background-color: var(--color3);
  color: var(--color0);
}

/* Post List CSS */

ul.posts, ul.tags {
  list-style-type: none;
  padding: 0 ;
}

ul.posts > li {
  margin-bottom: var(--paragraph_spacing);
  padding-bottom: var(--paragraph_spacing);
  border-bottom: 2px var(--color4) dotted;
}

ul.posts > li > * {
  margin: 0 0 var(--paragraph_spacing);
}

/*~~~~~~~~~~~~~~~*/
/* Tags Page CSS */
/*~~~~~~~~~~~~~~~*/

ul.tags {
  padding-bottom: var(--paragraph_spacing);
  margin-bottom: var(--paragraph_spacing);
}

ul.tagged {
  margin-bottom: 0;
}

ul.tagged li {
  margin: 0 0 var(--paragraph_spacing);
}

ul.tagged > li > small,
ul.tagged > li > span {
  display: block;
  margin: 0;
  line-height: 20px;
}

/*~~~~~~~~~~~*/
/* Embed CSS */
/*~~~~~~~~~~~*/

figure > figcaption {
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

figure.embed {
  margin-top: var(--margins);
  margin-bottom: var(--margins);
}

figure.picture,
figure.video {
  margin: 0 auto;
  padding: 10px;
  font-style: italic;
  color: var(--color3);
  background-color: var(--color1);
  border: 1px var(--color4) solid;
  box-shadow: 5px 5px var(--color2);
  width: auto;
}

/* Picture Embeds */

figure.picture {
  display: inline-block
}

figure.picture > a:hover {
  background-color: transparent;
}

figure.picture img {
  border: 1px var(--color4) solid;
  max-width: 100%;
}

/* lightbox */

a.expand {
  z-index: 0;
  display: block;
  position: fixed;
  visibility: hidden;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-color: rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-position: center;
}

a.expand:target {
  visibility: visible;
  z-index: 2;
}

a.expand > img {
  border: 1px var(--color4) solid;
  position: absolute;
  max-width: 80%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Video Embeds */

figure.video {
  max-width: 800px;
  display: block;
}

figure.video > div.video {
  border: 1px var(--color4) solid;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

div.video > iframe,
div.video > object,
div.video > embed
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Embed Container */

div.float {
  margin: var(--margins);
  display: block;
  text-align: center;
  vertical-align: top;
}

@media (min-width: 1024px) {
  div.right {
    float: right;
    margin: 5px var(--margins) 5px 10px;
  }

  div.left {
    float: left;
    margin: 5px 15px 5px var(--margins);
  }
}

/*~~~~~~~~~~~*/
/* CODE TAGS */
/*~~~~~~~~~~~*/

figure.highlight > pre > code,
.highlighter-rouge {
  font-family: "Consolas", "Lucida Console", "Monaco", "Andale Mono", "Courier New", courier, monospace;
  color: var(--color0);
  font-size: 13px;
}

figure.highlight,
.highlighter-rouge {
  background-color: var(--color3);
  padding: 3px;
}

figure.highlight {
  margin: 0 0 15px;
  padding: 5px var(--margins);
  border: 10px var(--color3) solid;
  overflow-x: scroll;
}

figure.highlight > pre {
  line-height: 16px;
}

figure.highlight > pre > code {
  white-space: pre-wrap;
}

/* Scrollbar for Firefox */

figure.highlight {
  scrollbar-color: var(--color0) var(--color3);
  scrollbar-width: thin;
}

/* Scrollbars for everything else apparently */

figure.highlight::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

figure.highlight::-webkit-scrollbar-track {
 background: var(--color4);
}

figure.highlight::-webkit-scrollbar-thumb {
 background: var(--color0);
}

figure.highlight::-webkit-scrollbar-thumb:hover {
 background: var(--color3);
}

/* Code Block colours */

/*
Based on Muse Scheme
from Terminal.sexy

black         #2e3436       #555753
red           #a31604       #c60001
green         #447241       #27a343
yellow        #c1951a       #d5a30e
blue          #425387       #4a5a8d
magenta       #965d98       #893c8c
cyan          #06989a       #12bccb
white         #d3d7cf       #eeeeec
*/

/* slash comments */
figure.highlight .c1,
figure.highlight .cm {
  color: #969896;
}

/* data type */
figure.highlight .kt,
figure.highlight .kd {
  font-weight: bolder;
  color: #b294bb;
}

/* boolean */
figure.highlight .nb,
figure.highlight .kc {
  color: #81a2be;
}

/* numeric values & strings */
figure.highlight .mf,
figure.highlight .mi,
figure.highlight .s  {
  color: #f0c674;
}

/* escape characters */
figure.highlight .se {
  color: #cc6666;
}

/* data keyword */
figure.highlight .k {
font-weight: bolder;
  color: #8abeb7;
}

/* Wrapped in quotes */
figure.highlight .d1,
figure.highlight .s2 {
  font-weight: bolder;
  color: #b5bd68;
}
