<!doctype html>
<html lang="en">
    <head>
      <title>thesis? idk?</title>
      <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
      <link rel="stylesheet" type="text/css" href="{{ "/assets/css/post.css" | relative_url }}">
      <link rel="stylesheet" type="text/css" href="{{ "/assets/css/code.css" | relative_url }}">
      <link rel="shortcut icon" type="image/png" href="{{ "favicon.png" | relative_url }}">
      <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "feed.xml" | relative_url }}">
      <!-- <script src="{{ "/assets/js/sliders.js" | relative_url }}"></script> -->
      <script src="{{ "/assets/js/copyrss.js" | relative_url }}"></script>
    </head>
    <body>
    <div class="wrap">
      <div class="header">
        <img src="{{ "/assets/images/jam_crow.gif" | relative_url }}" alt="jam_crow.gif" class="logo" width="160px" height="90px"/>
        <img src="{{ "/assets/images/thesisidk.gif" | relative_url }}" alt="thesis? idk?" class="logo" width="90px" height="46px"/>
        <!-- MENU START -->
        <nav>
            {% for item in site.data.navi.pages %}
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endfor %}
            <a data-url="{{ 'feed.xml' | absolute_url }}" onclick="copyURI(event)">rss</a>
        </nav>
      </div>
      <!-- MENU END -->
      <!-- CONTENT START -->
      <div id="content">
        {{ content }}
      </div>
      <!-- CONTENT END -->
    </div>
    </body>
</html>
