<!doctype html>
<html lang="en">
    <head>
      <meta http-equiv="last-modified" content="{{ page.date | date_to_rfc822 }}" />
      <meta http-equiv="expires" content="{{ page.date | date: '%s' | plus: 86400 | date_to_rfc822 }}" />
      <meta http-equiv="cache-control" content="max-age=31536000, Private" />

      <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
      <link rel="stylesheet" type="text/css" href="{{ "/assets/css/code.css" | relative_url }}">
      <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "feed.xml" | relative_url }}">
      <link rel="shortcut icon" type="image/png" href="{{ "icon.ico" | relative_url }}">
      {% seo %}
    </head>
    <body>
    <div class="wrap">
      <div class="header">
        <a class="logo" href="{{ "/" | relative_url }}">
          <img src="{{ "/assets/images/jam_crow.gif" | relative_url }}" alt="jam_crow.gif" class="logo" width="160px" height="90px"/>
          <img src="{{ "/assets/images/thesisidk.gif" | relative_url }}" alt="thesis? idk?" class="logo" width="90px" height="46px"/>
        </a>
        <!-- MENU START -->
        <nav>
            {% for item in site.data.navi.pages %}
            <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
      </div>
      <!-- MENU END -->
      <!-- CONTENT START -->
      <div class="content">
        {{ content }}
      </div>
      <!-- CONTENT END -->
      <div class="footer">
        <a href="http://www.wtfpl.net/txt/copying/">WTFPL</a> 2021-2022 Chris Carin</br>
        <a href="#">Back to top</a>
      </div>
    </div>
    </body>
</html>
