<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/landing.css" | relative_url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "feed.xml" | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ "icon.ico" | relative_url }}">
    {% seo %}
  </head>
  <body>
    <div><div>  <!-- VERTICAL + HORIZONTAL CENTRERING -->
      <main>    <!-- CENTERED START -->
        <h1>Hi I'm <a href="{{ "about" | relative_url }}">Chris</a>. This is my blog for graphic design workshop. Most of my writing here focuses around <a href="{{ "audio" | relative_url }}">synths</a> and <a href="{{ "website" | relative_url }}">websites</a> and <a href="{{ "misc" | relative_url }}">life</a> and <a href="{{ "tags" | relative_url }}">stuff</a>.</h1>
        <a href="{{ "about" | relative_url }}">
          <img src="{{ "/assets/images/splash.gif" | relative_url }}" alt="hello" width="104" height="112"/>
        </a>
        <ul>
          <li><a href="{{ "feed.xml" | relative_url }}">RSS Feed</a></li>
          <li><a href="https://www.gnu.org/licenses/copyleft.en.html">(C)</a> 2021-2022 <a href="mailto:chr.carin(a)gmail.com">Chris Carin</a></li>
          <li><a href="https://html5.validator.nu/?doc={{ page.url | absolute_url }}">This document is valid HTML5</a></li>
        </ul>
      </main>   <!-- CENTERED END -->
    </div></div>
  </body>
</html>
