---
layout: default
---

{% assign words = content | number_of_words %}
<header class="heading">
  <h1 class="heading title">{{ page.title }}</h1>
  <div class="heading date">
    <small>
      {{ page.date | date: "%a, %b %d, %y" }}
    </small>
    <small>
      {% assign words = page.content | number_of_words %}
      Length:
      {% if words < 360 %}
        1 min
      {% else %}
        {{ words | divided_by:180 }} mins
      {% endif %}
    </small>
  </div>
  <div class="heading meta">
    <small>
      Category:
      {% for category in page.categories %}
        <a href="{{ category.url }}">{{ category | replace:'-', ' ' }}</a>
      {% endfor %}
    </small>
    <small>
      Tags:
      {% for tag in page.tags %}
        <a href="{{ 'tags' | relative_url }}#{{ tag | slugify }}">{{ tag | replace:'-', ' ' }}</a>
      {% endfor %}
    </small>
  </div>
</header>

{{ content }}

<footer class="postend">
  <nav>
    <h3>Pagination</h3>
    <ul>
      <li>
        <a class="up" href="{{ 'posts' | relative_url }}">
          Back to Posts
        </a>
      </li>
      {% if page.next.url %}
      <li>
        <a class="next" href="{{ page.next.url | relative_url }}">
          {{page.next.title}}
        </a>
      </li>
      {% else %}
      <li>
        <a class="next" href="{{ page.url | relative_url }}">
          {{page.title}}
        </a>
      </li>
      {% endif %}
      {% if page.previous.url %}
      <li>
        <a class="prev" href="{{ page.previous.url | relative_url }}">
          {{page.previous.title}}
        </a>
      </li>
      {% else %}
      <li>
        <a class="prev" href="{{ page.url | relative_url }}">
          {{page.title}}
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <nav>
    <h3>Related Posts</h3>
    {% assign posts = site.posts | where_exp:"post", "post.url != page.url" | sample:3 %}
    {% for post in posts %}
    <ul>
      <li>
        <a href="{{ post.url | relative_url }}">
          {{ post.title }}
        </a>
      </li>
    </ul>
    {% endfor %}
  </nav>
</footer>
